@model IEnumerable<CarShared.Shared.BTO.TripBTO>

@{
    ViewBag.Title = "GetAllTrip";
}

<h2>GetAllTrip</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tripId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departureCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrivalCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSpots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tripId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departureCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrivalCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSpots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
